{% extends "blog/base.html" %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block main %}
<article id="post-detail-article">
  <h1>{{ post.title }}</h1>
  <span class="published">Published <time>{{ post.published }}</time></span><br>
  <span class="author">{{ post.author.get_full_name }}</span>

  <section class="content">{{ post.content|linebreaks }}</section>

  <h3>Related Topics:</h3>
  <ul>
  {% for topic in post_topics %}
  <li><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></li>
  {% endfor %}
  </ul>
</article>
{% endblock %}
